{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Endereço - {{request.user|title}}{% endblock title %}

{% block conteudo %}


<div class="row">
    <div class="col-md-12">
        <div class="p-3 bg-dark bg-opacity-10 border border-dark rounded-3">
            <h3 class='bb'>Seus endereços</h3>
        </div>
        <hr>
    </div>
</div>
 
<div class="row ">
    <div class="col-md-3">
        {% include 'parciais/siderbarperfil.html' %}
    </div>
    <div class='col-md-9'>
        <div class="row">
        {% for endereco in enderecos %}
        <div class='col-md-6'>
            <div class="card mb-2 " >
                <div class="card-body text-center ">
                    <h5 class="card-title">{{endereco.rua|title}}, n°{{endereco.numero}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{endereco.bairro|title}}, {{endereco.cidade|title}} - {{endereco.estado}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{endereco.complemento|title}}</h6>
                    {% if endereco.padrao %}
                    <p class="card-text"> <span class="badge text-bg-primary">Padrão</span></p>
                    {% else %}
                        <p class="card-text"> 
                            <a href="{% url 'autenticacao:endereco_padrao' endereco.id%}">
                                <span class="badge text-bg-danger">Tornar padrão</span>
                            </a>
                        </p>
                  
                    {% endif %}
                    <a href="{% url 'autenticacao:update_endereco' endereco.id%}" class="card-link btn btn-light">Editar</a>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal{{endereco.id}}">
                        Deletar 
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <div>
            <a href='{% url "autenticacao:novo_endereco" %}' class='btn btn-secondary'>Novo endereço</a>
        </div>
    </div>
</div>


{% for i in enderecos %}
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Deseja deletar o endereço abaixo?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 class="card-title">{{i.rua|title}}, n°{{i.numero}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{i.bairro|title}}, {{i.cidade|title}} - {{i.estado}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{i.complemento|title}}</h6>
        </div>
        <div  class="modal-footer">
         <form method='POST' action='{% url "autenticacao:delete_endereco"  i.id%}'>{% csrf_token %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Sim</button>
            {% comment %} <a href="{% url 'autenticacao:delete_endereco' i.id%}" class="card-link btn btn-danger">Sim</a> {% endcomment %}
            
         </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock %}

{% comment %} 
<div class="row ">
    <div class="col-md-12 mx-auto">
        <div class='row'>
            <div class="col-md-3">
                {% include 'parciais/siderbarperfil.html' %}

            </div>
            <div class='col-md-9'>
                <div class="row">
                {% for endereco in enderecos %}
                
                <div class='col-md-6'>
                    <div class="card mb-2 " >
                        <div class="card-body text-center ">
                            <h5 class="card-title">{{endereco.rua|title}}, n°{{endereco.numero}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{endereco.bairro|title}}, {{endereco.cidade|title}} - {{endereco.estado}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{endereco.complemento|title}}</h6>
                            <p class="card-text">{{request.user.username|title}}</p>
                            <a href="{% url 'autenticacao:update_endereco' endereco.id%}" class="card-link btn btn-light">Editar</a>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal{{endereco.id}}">
                                Deletar 
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
              <div class="col justify-content-md-center">
                <a href='{% url "autenticacao:novo_endereco" %}' class='btn btn-secondary'>Novo endereço</a>
              </div>
        </div>
    </div>
</div> {% endcomment %}
