{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Endereço{% endblock title %}

{% block conteudo %}


<div class="row">
    <div class="col-md-6 mx-auto box">
        <h3>Novo endereço</h3>
        <hr>
        
        <form method='POST' class="row g-3 " > {% csrf_token %}
            <div class="col-md-12">
                {{form.cep|as_crispy_field}}
            </div>
            <div class="col-md-6">
            {{form.rua|as_crispy_field}}
            </div>

            <div class="col-md-6">
                {{form.numero|as_crispy_field}}
            </div>

            <div class="col-md-6">
            {{form.bairro|as_crispy_field}}
            </div>

            <div class="col-md-6">
                {{form.complemento|as_crispy_field}}
                </div>

            <div class="col-md-6">
                {{form.cidade|as_crispy_field}}
            </div>


            <div class="col-md-6">
                {{form.estado|as_crispy_field}}
            </div>
            
            <div class="col-6">
                <button class='btn btn-secondary  d-block' type="submit">Enviar</button>
            </div>
            <div class="col-6">
                <a href='{% url "autenticacao:endereco" %}' class='btn btn-secondary d-block'>Voltar</a>
            </div>
      
       
        </form> 
       
    </div>
   
</div>

<!--JQUARY JS-->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>


<script>
    $(document).ready(function(){
        $("#id_cep").inputmask("99999-999", {"onincomplete": function(){
        }});
    });
</script>

{% endblock conteudo %}
