{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Login{% endblock title %}

{% block conteudo %}

<div class="row">
    <div class="col-md-4 mx-auto">
        <h3>Login</h3>
        <hr>
        <form method='POST' action='{% url "autenticacao:login" %}'>
            {% csrf_token %}
            {{form|crispy}}
            <div class="row mx-auto">
                <button class='btn btn-dark d-block' type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>




{% endblock %}