{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Login{% endblock title %}

{% block conteudo %}

<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="border rounded-5 p-5">
            <h3>Faça login</h3>
            <hr>
            <form method='POST' action='{% url "autenticacao:login" %}'>{% csrf_token %}
                <div class="form-outline mb-4">
                    {{form.username|as_crispy_field}}
                </div>
                
                {{form.password|as_crispy_field}}
                <div class="row mx-auto">
                    <button class='btn btn-dark d-block' type="submit">Entrar</button>
                </div>
            </form>
            <p class='text-center mt-3 fs-5'>
                <a class='text-decoration-none' href="{% url 'autenticacao:cadastro' %}">
                    <i class='bi bi-person'></i> Cadastre-se</a>
            </p>
        </div>
        
    </div>
</div>




{% endblock %}