{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{request.user|title}}{% endblock title %}


{% block conteudo %}


<div class="row">
    <div class="col-md-6 mx-auto">
        <h3>{{request.user.username|title}}</h3> <a class='btn btn-dark' href="{% url 'autenticacao:endereco' %}">Endereços</a>
        <hr>
        <form method='POST'>
            {% csrf_token %}
            {{form|crispy}}
            <div class="row">
                <div class="col">
                    <button class='btn btn-dark btn-block' type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--JQUARY JS-->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script>



$(document).ready(function(){
    $("#id_cpf").inputmask("999.999.999-99", {"onincomplete": function(){
        return false;
    }});
    $("#id_telefone").inputmask("(99) 99999-9999", {"onincomplete": function(){
        return false;
    }});
});
</script>

{% endblock %}