{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{request.user|title}}{% endblock title %}


{% block conteudo %}

<div class="row">
    <div class="col-md-12">
        <div class="p-3 bg-dark bg-opacity-10 border border-dark rounded-3">
            <h3 class='bb'>Seus dados</h3>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-3 mx-auto">
    
        {% include 'parciais/siderbarperfil.html' %}
      
    </div>

    <div class="col-md-9 mx-auto">
        <div class="border rounded-4 p-4">
            
            <form method='POST'>
                {% csrf_token %}
                {{form|crispy}}
                <div class="row">
                    <div class="col">
                        <button class='btn btn-dark btn-block' type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>

 
<!--JQUARY JS-->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>


<script>
    $(document).ready(function(){
        $("#id_cpf").inputmask("999.999.999-99", {"onincomplete": function(){
            return false;
        }});
        $("#id_telefone").inputmask("(99) 99999-9999", {"onincomplete": function(){
            return false;
        }});
    
        $("#id_cep").inputmask("00000-000", {"onincomplete": function(){
            return false;
        }});

        $("#id_nascimento").inputmask("99/99/9999", {"onincomplete": function(){
            return false;
        }});
    });
</script>

{% endblock conteudo%}