{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{request.user|title}}{% endblock title %}

{% block conteudo %}


<div class="row">
    <div class="col-md-6 mx-auto">
        <h3>{{request.user.username|title}}</h3> <a class='btn btn-dark' href="{% url 'autenticacao:endereco' %}">Endereços</a>
        <hr>
        <form method='POST'>
            {% csrf_token %}
            {{form|crispy}}
            <div class="row">
                <div class="col">
                    <button class='btn btn-dark btn-block' type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>




{% endblock %}