{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Cadastre-se{% endblock title %}

{% block conteudo %}


<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="border rounded-5 p-5">
            <h3>Cadastre-se</h3>
            <hr>
            <form method='POST' action='{% url "autenticacao:cadastro" %}'>
                {% csrf_token %}
                {{form|crispy}}
                <div class="row mx-auto">
            
                        <button class='btn btn-dark btn-block' type="submit">Cadastre-se</button>
        
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}