{% extends 'base.html' %}
{% load filtros %}
{% load static %}
    


{% block conteudo %}

{% if request.session.carrinho %}

<div class="row mt-5">
    <h3>Carrinho de compras</h3>
    <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>
    <div class="col-md-12 border rounded-2 mt-3">
       
        {% include 'parciais/carrinho_resumo.html' %}
    </div>
</div>



<div class="row mt-3">
    <div class="col-md-5 mb-5">
        <p class="fs-2">
            Total: {{carrinho|total_carrinho|formata_preco}}
        </p>
        <hr>
      
        <a class="btn btn-lg btn-block btn-dark" 
        href="  {% if request.user.is_authenticated %}
                    {% url 'produto:resumo' %}
                {% else %}
                    {% url 'autenticacao:login' %}
                {% endif %}">
        Finalizar
        </a>
        <a class="btn btn-lg btn-block btn-dark" href="{% url 'produto:limpar_carrinho' %}">
            Limpar carrinho
        </a>

    </div>
   
  
</div>
{% else %}
<div class="row mt-5">
    <div class="col-md-12">
        <h3>Carrinho vazío</h3>
        <p class="lead">Selecione os produtos desejados e adicione ao seu carrinho</p>
        <a class="btn btn-light" href="/">
            Volte e selecione os produtos...
        </a>
    </div>
   
</div>
{% endif %}


{% endblock conteudo %}

