{% extends 'base.html' %}
{% load filtros %}

{% block new_navbar %}
{% include 'parciais/new_navbar.html' %}
{% endblock new_navbar %} 


{% block listagem %}    

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">
                <i class='bi bi-lightning-charge-fill'></i>
                TechStore
            </h1>
            <p class="lead fw-normal text-white-50 mb-0">Os melhores preços, você só encontra aqui!</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
            
            {% for produto in produtos %}
            <div class="col mb-5">
                <div class="card h-100 p-4">
                    <!-- Product image-->
                    <a href="{% url 'produto:detail' produto.slug%}">
                        <img class="card-img-top" src="{{produto.imagem.url}}" alt="{{produto.nome}}" />

                    </a>
                    <!-- Product details-->
                    <div class="card-body">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{produto.nome}}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="product-price">
                                {{produto.menor_preco_variacao.preco_promocional|formata_preco}}
                                </span>
    
                                <span class="product-old-price text-muted">
                                    {{produto.menor_preco_variacao.preco|formata_preco}}
                                </span> 

                                {% if produto.lancamento %}
                                <span class="badge text-bg-primary">Lançamento</span>
                                {% endif %}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{% url 'produto:detail' produto.slug%}">COMPRAR</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty%}
            <h6>Nenhum resultado encontrado</h6>
            
            {% endfor %}
                <!--CARD FIM-->
        </div>
       
    </div>
    <ul class="pagination justify-content-center ">
    
        {% if page_obj.has_previous %}
        
            {% if request.GET.nome %}
            <li class="page-item " ><a class="page-link" href="?page=1&nome={{request.GET.nome}}">&laquo; Primeira</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{request.GET.nome}}">Anterior</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %}

        {% endif %}
    
        <li class="page-item">
            <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
        </li>
    
        {% if page_obj.has_next %}
            {% if request.GET.nome %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{request.GET.nome}}">Próxima</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome={{request.GET.nome}}">Última &raquo;</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
            {% endif %}
        {% endif %}
    
    </ul>
</section>


  
{% endblock listagem %} 