{% comment %} <footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer> {% endcomment %}


<footer class='bg-dark text-center text-lg-start' id='footer' style='color: #fff;'>
  <div class='text-center p-3' style='background-color: rgba(0,0,0,0.2);'>&copy; {% now "Y" %}
     <a href="http://github.com/caiosilva23" target='_blank' style='text-decoration: none;'>
      <span class='text-info'>
          CAIO SILVA
      </span>
     </a>
  </div>
</footer>