<!-- Modal -->
<div class="modal fade" id="modal_logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header bg-danger">
            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Sair do sistema</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center  ">
            <i class='bi bi-box-arrow-left fs-1 text-danger'></i>
            <p class='fs-4'>Tem certeza que deseja sair ?</p>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        
            <a href="{% url 'autenticacao:logout' %}" type="button" class="btn btn-danger">Sim</a>
        </div>
        </div>
    </div>
</div>