<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href='\'>
        <i style='font-size: 20px;' class='bi bi-lightning-charge-fill'></i>
        TechStore
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
             
              {% if request.user.is_authenticated %}
              <li class="nav-item"><a class="nav-link active" href="/">Pedidos</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'autenticacao:dados' request.user.dadosusuario.id%}">Perfil</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'autenticacao:logout' %}">Logout</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link active" href="{% url 'autenticacao:login' %}">Login</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'autenticacao:cadastro' %}">Sign Up</a></li>
              {% endif %}
              
          </ul>
          <a href='{% url "produto:carrinho" %}' class="d-flex text-decoration-none">
              <button class="btn btn-outline-light" type="submit">
                  <i class="bi-cart-fill me-1"></i>
                  Cart
                  <span class="badge bg-dark text-white ms-1 rounded-pill">{{request.session.carrinho|length}}x</span>
              </button>
            </a>
      </div>
  </div>
</nav>