 <!--NAVBAR-->
 <nav class="navbar navbar-expand-lg navbar-ligth bg-ligth " id="navbar">
    <div class="container ">
  
        <!--LINKS-->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/">Todos os produtos</a></li>
                      <li><hr class="dropdown-divider" /></li>
                      {% for categoria in categorias %}
                      <li><a class="dropdown-item" href="#">{{categoria}}</a></li>
                      {% endfor %}

                  </ul>
              </li>
                 <li class="nav-item">
                    <a href="/" class="nav-link  " aria-current="page">Promoções</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link " aria-current="page">Lançamentos</a>
                </li>
                 </ul>
                   
            <form method='GET' action='?' class='d-flex' style='margin-right: 25px;'>
                <div class='input-group input-group-sm'>
                    <input class='form-control' type="text" name='nome' value='{{request.GET.nome}}' placeholder='Digite sua pesquisa...' aria-label='Search'>
                    <button type"submit" class='btn btn-dark btn-sm'><i class='bi bi-search'></i></button>
                    <a href="{% url 'produto:list' %}" class='btn btn-dark btn-sm mx-1'> <i class='bi bi-x-circle'></i></a>
                </div>
            </form>
        </div>

    </div>
  </nav><!-- END NAVBAR-->
  