{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--IMPORTAÇÕES-->
   {% include "parciais/head.html" %}

    {% block head %}{% endblock head %}
    <title>{% block title %}E-commerce{% endblock title %}</title>

</head>
<body>

    <!--INCLUDE NAVBAR-->
    {% include 'parciais/navbar.html' %}
    {% block new_navbar %}{% endblock new_navbar %}

        
    {% block listagem %}    
    {% endblock listagem %}

    <div class="container mt-4 mb-5">
    {% block conteudo %}{% endblock conteudo %}
    </div>
    
    {% include 'parciais/footer.html' %}

    <!--Messagem da view backend-->
    {% include 'parciais/message.html' %}
    <!--IMPORTAÇÕES JS-->
    {% include 'parciais/js.html' %}
</body>
</html>